html {
    box-sizing: inherit;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{  width: 100%;
    height: 100%;}

body {
    background: url("../Imagenes/surf/IMG_1497.jpg") no-repeat ;
    background-size: cover;
    position: relative;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 650px;
    
}

#contenedor{width: 100%; height: 100%;  overflow: hidden;}

#titulo {
    text-align: center;
    width: 100%;
}



#titulo p {
    
    text-align: center; 
    font-family: Arial blue; 
    font-weight: bold; font-size: 80px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

#pie{position: absolute;
    bottom: 0px; width: 100%; margin-left: 7px;}


#pie ul{
    width: 100%;
}
#pie li {
   

   float:left;
    list-style: none;
}

li {width: 33%;}

#pie li a {
    display: block;
    text-decoration: none;
    color:Arial blue;
   
    text-align: center;
    margin: 0 auto;
   
}

#pie a {
    text-align: center; 
    font-family: Arial blue; 
    font-weight: bold; font-size: 50px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);

}

