html {
    box-sizing: inherit;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#contendeor {width: 100%;overflow: hidden;}

#arriba {
    border: 1px solid black;
    background: url("../../Imagenes/surf/IMG_9921.jpg") no-repeat ;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 600px;
   overflow: hidden;

}

#abajo {
    border: 1px solid black;
    background: url("../../Imagenes/surf/Balneario3.jpg") no-repeat ;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 600px;
   overflow: hidden;
   
}

#contenedor h1{

    text-align: center; 
    font-family: Arial blue; 
    font-weight: bold; font-size: 80px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);

}